---
layout: page
title: Learn Ruby on Rails
description: "Become a maker"
tags: [coding, resources, ruby, ruby on rails]
---

<iframe width="640" height="360" src="//www.youtube.com/embed/o-z_KPQnQc0?vq=hd1080" frameborder="0" allowfullscreen></iframe>


<h2 class="centered callout margined">Start at lesson 1, follow the sequence.</h2>


<ol class="post-list margined">


  {% for post in site.categories.setup %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}

  {% for post in site.categories.datamodels %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}

  {% for post in site.categories.mvc %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}

  {% for post in site.categories.testingconfig %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}

  {% for post in site.categories.show %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}

  {% for post in site.categories.new %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}

  {% for post in site.categories.integration %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}

  {% for post in site.categories.edit %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}

  {% for post in site.categories.editupdateintegration %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}

  {% for post in site.categories.userauth %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}


  {% for post in site.categories.twitterauth %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}

</ol>



{% include tweetforhelp.html %}


{% include calltoaction.html %}

<div class="margined">
  <h2 class="centered callout margined">Supplemental Resources</h2>

  <ul class="post-list no-list">
  <h3>Ruby on Rails Tutor Ethos, Background and Useful to Know</h3>
  {% for post in site.categories.rubyonrailstutor %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}

  <h3>Cohorts</h3>
  {% for post in site.categories.cohorts %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}

  <h3>Challenges & Ruby Basics</h3>
  {% for post in site.categories.challenges %}
  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  {% for post in site.categories.basics %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}

  <h3>Product & Tech Reviews</h3>
  {% for post in site.categories.product %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
</div>


{% include tweetforhelp.html %}

{% include about.html %}

{% include tweetforhelp.html %}

{% include calltoaction.html %}
