.centered {
  text-align: center;
}

.callout {
  color: @lightblue;
}

.personal {
  width: 30%;
  display: inline-block
}

.email {
  width: 525px;
  display: inline-block
}

.subscribe {
  width: 60px;
  display: inline-block
}

.pointer {
  cursor: pointer;
}
