<div class="margined">
  <h2>About</h2>
  <div class="centered"><strong>I look forward to facilitating your journey to become a coder.</strong></div>

  <p><div class="centered"><img src="{{ site.url }}/images/{{site.owner.avatar}}" width="200" height="200" class="padded">
  <a href="https://twitter.com/railstutor" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @railstutor</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div></p>

  <div class="centered"><strong>Join a programming boot-camp at <a href="http://rubyonrailstutor.com" target="new" class="callout">rubyonrailstutor.com</a></strong></div>

  <h4 class="callout centered">We will master the fundamentals of:</h4>

  <ul type="bullet">
    <li>web MVC software</li>
    <li>ruby</li>
    <li>rails</li>
    <li>test driven development</li>
    <li>sublime</li>
    <li>git & github</li>
    <li>haml</li>
    <li>heroku</li>
    <li>responsive web design</li>
  </ul>
</div>
