<h2>About</h2>

<strong>Join a social pair programming boot-camp at <a href="http://rubyonrailstutor.com" class="callout">rubyonrailstutor.com</a></strong>

<p>We will explore the fundamentals of full stack web application programming and master the basics of:</p>

<ul type="bullet">
  <li>ruby</li>
  <li>rails</li>
  <li>test driven development</li>
  <li>sublime</li>
  <li>git & github</li>
  <li>haml</li>
  <li>heroku</li>
  <li>responsive web design</li>
</ul>

<p>Prior to 2012, I didn't know how to build software.  Thanks to <a href="http://www.devbootcamp.com" target="new">Dev Bootcamp</a> and a ton of hard work and support from the San Francisco developer community, in the span of 3 rigorous training months and 18 months working, I worked with 4 startups, 1 consultancy, 1 publicly traded corporation, co-built <a href="http://crowdsound.io/">crowdsound.io</a>, built numerous hackathon level products and helped many people get on the path to professional software development.</p>

<strong>I look forward to guiding you through the same tranformation.</strong>

<p><span><img src="{{ site.url }}/images/{{site.owner.avatar}}" width="200" height="200"> John Davison, <a href="http://twitter.com/railstutor" target="new">@railstutor</a></p>

