<h3 class="callout centered">Connect & pair program with other developers, get notifications about new tutorials, code and events.</h3>


<span class="calltoaction">
  <p>
    <div class="personal">
      <input type="text" class="firstName" placeholder="John">
    </div>
    <div class="personal">
      <input type="text" class="lastName" placeholder="Davison">
    </div>
    <div class="personal">
      <input type="text" class="twitterHandle" placeholder="@railstutor">
    </div>
  </p>

  <p>
    <div class="email">
      <input type="text" class="studentEmail" placeholder="john@gmail.com">
    </div>
    <div class="subscribe btn pointer" class="subscribe">
      subscribe!
    </div>
  </p>
</span>
