<h3 class="callout">Connect & pair program with other developers, get notifs about new tutorials, code and events.</h3>


<p>
  <div class="personal">
    <input type="text" id="first" placeholder="first:John">
  </div>
  <div class="personal">
    <input type="text" id="last" placeholder="last:Davison">
  </div>
  <div class="personal">
    <input type="text" id="twitter" placeholder="twitter:@railstutor">
  </div>
</p>

<p>
  <div class="email">
    <input type="text" id="email" placeholder="email:you@gmail.com">
  </div>
  <div class="subscribe btn pointer" id="subscribe">
    subscribe!
  </div>
</p>
