<div class="margined">
  <div class="callout centered">Get notifications about new tutorials, code and events.</div>


  <span class="calltoaction">
    <p>
      <div class="personal">
        <input type="text" class="firstName" placeholder="John">
      </div>
      <div class="personal">
        <input type="text" class="lastName" placeholder="Davison">
      </div>
      <div class="personal">
        <input type="text" class="twitterHandle" placeholder="@railstutor">
      </div>
    </p>

    <p>
      <div class="email">
        <input type="text" class="studentEmail" placeholder="john@gmail.com">
      </div>
      <div class="subscribe btn pointer" class="subscribe">
        join!
      </div>
    </p>
  </span>
</div>
