<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>
          <iframe width="640" height="360" src="//www.youtube.com/embed/o-z_KPQnQc0?vq=hd1080" frameborder="0" allowfullscreen></iframe>
          <p><a href="https://github.com/rubyonrailstutor/restaurantly">https://github.com/rubyonrailstutor/restaurantly</a>

          <p>Join me at rubyonrailstutor.com for a fun highly social, distributed real time pair programming class series where we will explore the fundamantels of web application development.  We will master the fundamentals of programming tools like ruby, rails, git, haml, heroku, responsive web design, test driven development, vim, sublime, github and the intracies of software product development.  I look forward to helping you make the same transition I made.</p>
          
          <p>- John Davison, @railstutor</p>
          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                <img src="https://dl.dropboxusercontent.com/u/12834645/railstutor/railstutor.png">
                </br>
                <a href="https://www.rubyonrailstutor.com">rubyonrailstutor.com</a><br />
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="http://www.rubyonrailstutor.com" target="new">
                  <img  src="http://pairprogramwith.me/badge.png" alt="Pair program with me!" />
                </a>
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
